<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.sign_up.header' | translate }}" skipId="skip-sign-up"></app-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

    <ion-row>
      <ion-col class="ion-text-center">
        <img aria-hidden="true" class="lynx-logo-md" src="assets/img/main-logo.png" alt="logo"/>
      </ion-col>
    </ion-row>

    <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()" #signUpForm="ngForm">

      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label>{{ 'oneclick.asterick-instructions' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="email" required class="input-background"
                        name="email" label-placement="stacked"
                          formControlName="formControlEmail">
                <div slot="label" >
                  {{'oneclick.pages.sign_up.email_placeholder' | translate}} *
                </div>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="password" required class="input-background"
                        name="password" label-placement="stacked"
                          formControlName="formControlPassword" minlength="4">
                <div slot="label" >
                  {{'oneclick.pages.sign_up.password_placeholder' | translate}} *
                </div>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="password" required class="input-background"
                        name="confirm_password" label-placement="stacked"
                          formControlName="formControlPasswordConfirm" minlength="4">
                <div slot="label">
                  {{'oneclick.pages.sign_up.confirm_password_placeholder' | translate}} *
                </div>
            </ion-input>
          </ion-item>


      <ion-item lines="none">
            <ion-select label-placement="stacked" 
              formControlName="formControlCounty" name="county">
                <div slot="label">
                    {{ 'oneclick.pages.user_profile.county' | translate }}
                  </div>
                <ion-select-option *ngFor="let county of counties"
                            value="{{county}}">
                  {{ county }}
                </ion-select-option>
            </ion-select>
      </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" expand="fill" class="lynx-button-dark center" type="submit">
            {{ "oneclick.pages.sign_up.sign_up_button" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col class="ion-text-center">
          <a [href]="oneClickPrivacyPolicyURL">
            {{ "oneclick.pages.menu.privacy_policy" | translate }}
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>

  </div>

</ion-content>
<app-footer></app-footer>
