ion-select {
  max-width:100%;
  width: 100%;
  padding: 10px;
  background-color: var(--lynxWhite);
  --highlight-color-focused: var(--lynxPink);
  --highlight-color-invalid: var(--lynxPink);
  --highlight-color-valid: var(--lynxPink);

  &:focus {
    outline: solid;
    outline-color: var(--lynxPink);
    outline-offset: -3px;
    outline-width: 2px;
  }
}

ion-input {
  --background: var(--lynxWhite);
  //border: solid 5px rgba(var(--lynxPinkRGB), 1);
  font-size: medium;
}

ion-item {
  --background-hover: none;
  --background-focused: none;
}


.label-stacked {
  transform: none;//undo the ionic transform for stacked labels (made it tiny)
}
.content-ios,.content-md,.content-wp {
    background-color: var(--lynxPink);
}

.invalid {
  border: 1px solid #ea6153;
}

.toast-message {
  white-space: pre;
}

.has-focus {
  border: solid 1px rgba(var(--lynxPinkRGB), 1);
}
