<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.sign_up.header' | translate }}" skipId="skip-sign-up"></app-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

    <ion-row>
      <ion-col class="ion-text-center">
        <img class="lynx-logo-md" src="assets/img/main-logo.png" alt="logo"/>
      </ion-col>
    </ion-row>

    <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()" #signUpForm="ngForm">

      <ion-grid>
      <ion-row>
        <ion-col>
          <!--placeholder="{{ 'oneclick.pages.user_locator.origin_search.placeholders.email' | translate }}"-->
          <ion-label class="ion-text-wrap">{{ 'oneclick.pages.sign_up.email_placeholder' | translate }}</ion-label>
          <ion-input  formControlName="formControlEmail"
                      class="lynx-input"
                      type="text"
                      name="email"
                      aria-label="email"
                      required>
          </ion-input>
          <ion-label class="ion-text-wrap">{{ 'oneclick.pages.sign_up.password_placeholder' | translate }}</ion-label>
          <ion-input  formControlName="formControlPassword"
                      class="lynx-input"
                      type="password"
                      name="password"
                      aria-label="password"
                      required minlength="4" >
          </ion-input>
          <ion-label class="ion-text-wrap">{{ 'oneclick.pages.sign_up.confirm_password_placeholder' | translate }}</ion-label>
          <ion-input  formControlName="formControlPasswordConfirm"
                      class="lynx-input"
                      type="password"
                      name="confirm_password"
                      aria-label="confirm-password"
                      required>
          </ion-input>
          <ion-label *ngIf="showParatransitId" class="ion-text-wrap">{{ 'oneclick.pages.user_profile.paratransit_id' | translate }}</ion-label>
          <ion-input *ngIf="showParatransitId"  formControlName="formControlParatransitId"
                      class="lynx-input"
                      type="string"
                      name="paratransit_id"
                      aria-label="paratransit-id">
          </ion-input>      
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div style="padding: 2px">      
            <ion-label>{{"oneclick.pages.user_profile.county" | translate}}</ion-label>
            <ion-select formControlName="formControlCounty" slot="end" name="county">
              <ion-select-option *ngFor="let county of counties"
                          value="{{county}}">
                {{ county }}             
              </ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" expand="fill" class="lynx-button-dark center" type="submit">
            {{ "oneclick.pages.sign_up.sign_up_button" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col class="ion-text-center">
          <a [href]="oneClickPrivacyPolicyURL">
            {{ "oneclick.pages.menu.privacy_policy" | translate }}
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>

  </div>

</ion-content>
