
<div class="date-container ion-justify-content-between">
  <ion-input [value]="date | date:'M/d/yyyy'"
  [formControl]="dateControl" placeholder="MM/DD/YYYY">

  </ion-input>
  <ion-datetime-button aria-hidden="true" tabindex="-1" aria-label="date-picker" datetime="dt-date">
    <ion-icon slot="date-target" name="calendar-outline"></ion-icon>
  </ion-datetime-button>
</div>

<ion-modal keepContentsMounted="true">
  <ng-template>
    <ion-datetime id="dt-date"
              showDefaultButtons="true"
              presentation="date"
              preferWheel="false"
              yearValues="{{ yearValues() }}"
              [value]="date"
              [locale]="locale"
              (ionChange)="datePickerChangeEvent($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>
