ion-toolbar {
  --background: var(--lynxPink);
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.item-heading {
  color: var(--lynxPink);
  font-weight: 500;
  margin-top: 15px;
  line-height: 1.2;
  font-size: x-large;
}

.item-subheading {
  color: var(--lynxDkGray);
  font-weight: 500;
  margin-top: 15px;
  line-height: 1.2;
  font-size: large;
}

.item-no-color {
  font-weight: 500;
  margin-top: 15px;
  line-height: 1.2;
  font-size: x-large;
}

.item-body {
  //color: var(--lynxBlack);
  
  b {
    font-weight: 500;
  }
}

.label {
  .icon {
    width: size(4);
    text-align: center;
  }
}



// .list-md .item-block .item-inner {
//     border-bottom: 4px solid #dedede;
//   }

//   .select-full-width {
//       max-width: 100% !important;
//       width: 100% !important;
//       padding-left: 0 !important;
//   }

  .itinerary-item ion-row ion-col {
    display: flex;
  }

  .itinerary-item ion-row ion-col:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
  }

//   .itinerary-item.item-md h2 {
//     font-size: 2.2rem;
//   }

//   ion-select#arriveBySelector {
//     max-width:100%;
//     width: 100%;
//   }

ion-select#arriveBySelector {
  outline: solid;
  outline-color: var(--lynxPink);
  max-width:100%;
  width: 100%;
  padding: 10px;
  background-color: var(--lynxWhite);

  &:focus {
    outline-color: var(--lynxPink);
    outline-offset: -3px;
    outline-width: 2px;
  }
}

ion-select#sortSelector {
  padding: 10px;

  &:focus {
    outline: solid;
    outline-color: var(--lynxPink);
    outline-offset: -3px;
    outline-width: 2px;
  }
}

  // #find-transportation-button-container {
  //   justify-content: center;
  // }

//   #find-transportation-button-container > ion-row > ion-col > ion-select {
//     display: inline-flex;
//     vertical-align: -webkit-baseline-middle;
//     max-width: 100%;

//     background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
//     -webkit-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.4);
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     border-radius: 35px;
//     height: 3.6rem;
//     padding-top: 9px;
//     padding-bottom: 0px;

//   }
