<ion-header>
  <app-navbar headerTitle="{{ 'oneclick.pages.directions.header' | translate }}" skipId="skip-directions"></app-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-tabs *ngIf="trip">
        <ion-tab-bar slot="top" selectedTab="steps-tab">
          <ion-tab-button tab="steps-tab">
            <ion-icon mode="md" name="list"></ion-icon>
            <ion-label *ngIf="itinerary?.legs && itinerary.legs.length > 0">{{ 'oneclick.pages.directions.steps_tab.header' | translate }}</ion-label>
            <ion-label *ngIf="!itinerary?.legs || itinerary.legs.length == 0">{{ 'oneclick.pages.directions.service_details_tab.header' | translate }}</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="map-tab">
            <ion-icon mode="md" name="map"></ion-icon>
            <ion-label>{{ 'oneclick.pages.directions.map_tab.header' | translate }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>

    
      </ion-tabs>
      <!-- <ion-tabs *ngIf="trip" tabsPlacement="top" tabsHighlight="true">
        <ion-tab [root]="stepsTab"
                 tabTitle="{{ 'oneclick.pages.directions.steps_tab.header' | translate }}"
                tabIcon="list"
                 [rootParams]="directionsParams">
          >
         </ion-tab>
        <ion-tab [root]="mapTab"
                 tabTitle="{{ 'oneclick.pages.directions.map_tab.header' | translate }}"
                tabIcon="map"
                 [rootParams]="directionsParams">
          >
        </ion-tab>
      </ion-tabs> -->
    </ion-row>
  </ion-grid>
</ion-content>
