<!--
  Generated template for the TransportationEligibilityPage page.
-->
<ion-header>
  <app-navbar headerTitle="{{ 'lynx.pages.transportation_eligibility.header' | translate }}"></app-navbar>
</ion-header>

<ion-content>
  <!-- PLAN TRIP -->
  <div text-center id="view-paratransit-options-button-container" >
    <button item-start ion-button middle round
            class="lynx-button-primary"
            id="view-paratransit-options-button"
            (click)="viewParatransitOptions()">
      {{ "lynx.pages.transportation_eligibility.plan_trip_button" | translate }}
    </button>
    <button item-end ion-button middle round
            class="lynx-button-primary"
            (click)="storeUserPreferencesDisabledInSessionByButton()">
      <ion-checkbox [(ngModel)]="user_preferences_disabled"
                    [checked]="true"
                    (ionChange)="storeUserPreferencesDisabledInSession()">
      </ion-checkbox>
      {{"lynx.pages.session_user_preference_disabled_text" | translate }}
    </button>

  </div>

  <!-- TRIP TYPES -->
  <ion-list text-wrap class="lynx-list" >
    <ion-list-header>
      {{"lynx.pages.transportation_eligibility.trip_types_header" | translate}}
      <button class="transportation-eligibility-info-button" (click)="showTripTypesPopup()"><ion-icon name="information-circle"></ion-icon></button>
    </ion-list-header>

    <ion-item *ngFor="let trip_type of trip_types">
      <ion-label>{{trip_type.name}}</ion-label>
      <ion-checkbox [(ngModel)]=trip_type.value
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- ACCOMMODATIONS -->
  <ion-list text-wrap class="lynx-list" [hidden]="accommodations.length === 0">
    <ion-list-header>
      {{ "lynx.pages.transportation_eligibility.accommodations_header" | translate }}
      <button class="transportation-eligibility-info-button" (click)="showAccommodationsPopup()"><ion-icon name="information-circle"></ion-icon></button>
    </ion-list-header>

    <ion-item *ngFor="let acc of accommodations">
      <ion-label>{{acc.note}}</ion-label>
      <ion-checkbox [(ngModel)]="acc.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- AGE -->
  <ion-list text-wrap class="lynx-list">
    <ion-list-header>
      {{ "lynx.pages.transportation_eligibility.age_header" | translate }}
      <button class="transportation-eligibility-info-button" (click)="showAgePopup()"><ion-icon name="information-circle"></ion-icon></button>
    </ion-list-header>

    <ion-item>
      <ion-label>{{"lynx.pages.user_profile.age" | translate}}</ion-label>
      <ion-input  class="lynx-input"
                  type="number"
                  placeholder=""
                  name="age"
                  [(ngModel)]="age"
                  min="0"
                  required>
      </ion-input>
    </ion-item>

    <!-- ELIGIBILITIES -->
  <ion-list text-wrap class="lynx-list" [hidden]="eligibilities.length === 0">
    <ion-list-header>
      {{ "lynx.pages.transportation_eligibility.eligibilities_header" | translate }}
      <button class="transportation-eligibility-info-button" (click)="showEligibilitiesPopup()"><ion-icon name="information-circle"></ion-icon></button>
    </ion-list-header>

    <ion-item *ngFor="let elig of eligibilities">
      <ion-label>{{elig.note}}</ion-label>
      <ion-checkbox [(ngModel)]="elig.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>



  </ion-list>

</ion-content>
