page-transportation-eligibility {


  #view-paratransit-options-button-container {
    padding-top: size(1);
    padding-bottom: size(1);
    width: 100%;

    #view-paratransit-options-button {
      padding-right: size(1);
      ion-icon {
        margin-left: size(1);
      }
    }
  }

  button ion-checkbox {
    padding-right: 8px;
  }

  button.transportation-eligibility-info-button {
    background: transparent;
  }

  ion-icon.ion-md-information-circle {
    color: $lynxPink;
    font-size: 20px;
  }

}
