<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.reset_password.header' | translate }}"skipId="skip-reset-password"></app-navbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="resetPassword(resetPasswordForm.form.valid)" #resetPasswordForm="ngForm">

    <ion-grid>
    <ion-row>
      <ion-col>
          <p>{{ "oneclick.pages.reset_password.reset_password_description" | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="fixed">{{ 'email' | translate }}</ion-label>
          <ion-input  type="email"
                      name="email"
                      [(ngModel)]="email"
                      required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button shape="round" expand="full" color="primary"
              id="reset-password-button"
              type="submit">
            {{ "oneclick.pages.reset_password.reset_password_button" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>
