<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.reset_password.header' | translate }}"></app-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">

    <ion-grid>
    <ion-row>
      <ion-col>
        <h6 id="reset-password-description">
          {{ "oneclick.pages.reset_password.reset_password_description" | translate }}
        </h6>
      </ion-col>
    </ion-row>

    <ion-input  type="email"
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
                required>
    </ion-input>

    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="fill"
                id="reset-password-button"
                class="lynx-button-dark center"
                type="submit"
                [disabled]="!resetPasswordForm.form.valid">
          {{ "oneclick.pages.reset_password.reset_password_button" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>
