.content-ios,.content-md,.content-wp {
    background-color: var(--lynxPink);
  }
  
  //#reset-password-description {
    //margin-top: 4.21rem;
    //margin-bottom: 3.157rem;
    //color: var(--lynxWhite);
  //}

  ion-label, ion-input {
    --background: var(--lynxWhite);
    //border: solid 5px rgba(var(--lynxPinkRGB), 1);
    font-size: medium;
  }
  
  #reset-password-button {
    margin-top: 1.777rem;
  }

  .has-focus {
    border: solid 1px rgba(var(--lynxPinkRGB), 1);
  }