<!--ServiceFor211DetailPage-->
<ion-header>
  <app-navbar headerTitle="{{service.agency_name}}"></app-navbar>

  <ion-toolbar class="lynx-toolbar" hidden="true" text-center>

    <div id="origin-search-container">
      <place-search #originSearch
                    placeholder="{{ origin.label() }}"
                    (onArrowDown)="originResults.focus()"
                    (onFocus)="originResults.show()"
                    (onFocus)="destinationResults.hide()"
                    (onChange)="placeSearchChanged()">
      </place-search>
    </div>

    <div id="destination-search-container" [hidden]="viewType === 'services'">
      <place-search #destinationSearch
                    placeholder="{{ destination.label() }}"
                    (onArrowDown)="destinationResults.focus()"
                    (onFocus)="destinationResults.show()"
                    (onFocus)="originResults.hide()"
                    (onChange)="placeSearchChanged()">
      </place-search>
    </div>

    <!-- Header row with editable trip date -->
    <ion-row class="trip-date-row">
      <ion-col class="trip-date-col"
               col-sm-6 text-center>
        <ion-item>
          <ion-select [(ngModel)]="arriveBy">
            <ion-select-option value="false">{{ "oneclick.global.directions.depart_at" | translate }}</ion-select-option>
            <ion-select-option value="true">{{ "oneclick.global.directions.arrive_by" | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col class="trip-date-col"
               col-sm-6 text-center
               (click)="tripTimeDatepicker.open()">

        <!-- opens native datepicker on mobile, or ionic datepicker in browser -->
        <responsive-datepicker #tripTimeDatepicker
                               [date]="departureDateTime"
                               [dateTimeFormat]="'MMM DD, YYYY hh:mm A'">
        </responsive-datepicker>

      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content>

  <!-- ORIGIN AND DESTINATION AUTOCOMPLETE RESULTS LISTS -->
  <autocomplete-results #originResults
                        [items]="originSearch.autocompleteItems"
                        (onSelect)="originSearch.chooseItem($event)">
  </autocomplete-results>
  <autocomplete-results #destinationResults
                        [items]="destinationSearch.autocompleteItems"
                        (onSelect)="destinationSearch.chooseItem($event)">
  </autocomplete-results>

  <!-- PLAN TRIP BUTTON -->
  <div text-center id="find-transportation-button-container">
    <ion-button middle round
            class="lynx-button-primary"
            id="transportation-options-button"
            *ngIf="originSearch.place && destinationSearch.place"
            (click)="findTransportation(originSearch.place, destinationSearch.place, tripTimeDatepicker.date)">
      {{ "oneclick.pages.service_details.transportation_button" | translate }}
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

  <ion-grid>

    <!-- SERVICE DETAILS -->

    <!-- Show service details only if service is present -->
    <ion-row *ngIf="service_id && location_id">
      <ion-col col-sm-10 offset-sm-1 col-md-8 offset-md-2>
        <h3>{{ "oneclick.pages.service_details.details_header" | translate }}</h3>

        <div *ngIf="service.url">
          <b>{{ "oneclick.pages.service_details.url" | translate }}: </b><external-link url="{{service.url}}"></external-link>
        </div>

        <div *ngIf="service.email">
          <b>{{ "oneclick.pages.service_details.email" | translate }}: </b><a href="mailto:{{service.email}}">{{service.email}}</a>
        </div>

        <div *ngIf="service.address">
          <b>{{ "oneclick.pages.service_details.address" | translate }}</b>
          <span>{{ service.address }}</span>
        </div>

        <div *ngIf="service.phones">
          <b>{{ "oneclick.pages.service_details.phone_header" | translate }}: </b><br>
          <span *ngFor="let p of service.phones">{{p}}<br></span>
        </div>

        <!-- insert a line for each non-null key in the details hash -->
        <div *ngFor="let k of detailKeys" class="">
          <b>{{ "oneclick.pages.service_details." + k | translate }}: </b><br>
          <span [innerHTML]="service.details[k]"></span>
        </div>
      </ion-col>
    </ion-row>

    <!-- Show feedback and questions buttons only if service is present -->
    <ion-row *ngIf="service_id && location_id">

      <!-- Questions? button -->
      <!-- Show questions? button only if service phone # is present -->
      <!--<ion-col col-12 col-sm text-center *ngIf="service.phone">-->
        <!--<h3>{{ "oneclick.pages.service_details.phone_header" | translate }}</h3>-->
        <!--<a href="tel:{{service.phone}}">-->
          <!--<button ion-button round-->
                  <!--class="lynx-button-primary">-->
                  <!--{{service.phone | formatPhoneNumber }}-->
          <!--</button>-->
        <!--</a>-->
      <!--</ion-col>-->

      <!-- Feedback? button -->
      <!--<ion-col col-12 col-sm text-center>-->
        <!--<h3>{{ "oneclick.pages.service_details.feedback_header" | translate }}</h3>-->
        <!--<button ion-button round-->
                <!--class="lynx-button-primary"-->
                <!--(click)="rateService(service)">-->
          <!--{{ "oneclick.pages.service_details.feedback_button" | translate }}-->
        <!--</button>-->
      <!--</ion-col>-->

      <!-- Email button -->
      <ion-col col-12 col-sm text-center>
        <h3>{{ "oneclick.pages.service_details.email_header" | translate }}</h3>
        <ion-button round
                class="lynx-button-primary"
                (click)="openEmailModal(service)">
          {{ "oneclick.pages.service_details.email_button" | translate }}
        </ion-button>
      </ion-col>

      <!-- SMS button -->
      <!--<ion-col col-12 col-sm text-center>-->
        <!--<h3>{{ "oneclick.pages.service_details.sms_header" | translate }}</h3>-->
        <!--<button ion-button round-->
                <!--class="lynx-button-primary"-->
                <!--(click)="openSmsModal(service)">-->
          <!--{{ "oneclick.pages.service_details.sms_button" | translate }}-->
        <!--</button>-->
      <!--</ion-col>-->

    </ion-row>
  </ion-grid>

</ion-content>
