
<ion-header>

  <app-navbar *ngIf="viewType === 'services'" headerTitle="{{ 'oneclick.pages.user_locator.services_help' | translate }}" skipId="skip-user-locator"></app-navbar>
  <app-navbar *ngIf="viewType != 'services'" headerTitle="{{ 'oneclick.pages.user_locator.plan_a_trip_header' | translate }}" skipId="skip-user-locator"></app-navbar>
</ion-header>
  <ion-toolbar class="lynx-toolbar" text-center>
    <div id="origin-search-container">
      <place-search #originSearch
                    uniqueLabel="Origin"
                    resultsListId="origin-results"
                    [isInvalid]="originInvalid"
                    placeholder="{{ 'oneclick.pages.user_locator.origin_search.placeholder_pending' | translate }}"
                    (onArrowDown)="originResults.focus()"
                    (onFocus)="originResults.show(); destinationResults.hide()"
                    (onBlur)="originResults.hide()"
                    (onSelect)="originInvalid = false; centerMapOnPlace($event, 'origin')"
                    (onChange)="placeSearchChanged()">
      </place-search>
    </div>

    <div id="destination-search-container" [hidden]="viewType === 'services'">
      <place-search #destinationSearch
                    uniqueLabel="Destination"
                    resultsListId="destination-results"
                    [isInvalid]="destinationInvalid"
                    placeholder="{{ 'oneclick.pages.user_locator.destination_search.placeholder' | translate }}"
                    (onArrowDown)="destinationResults.focus()"
                    (onFocus)="destinationResults.show(); originResults.hide();"
                    (onBlur)="destinationResults.hide();"
                    (onSelect)="destinationInvalid = false; centerMapOnPlace($event, 'destination')"
                    (onChange)="placeSearchChanged()">
      </place-search>
    </div>

    <!-- Header row with editable trip date -->
    <ion-grid>
    <ion-row class="trip-date-row" [hidden]="viewType === 'services'">
      <ion-col>
        <ion-item class="select-wrapper">
          <ion-select id="arriveBySelector" value="{{arriveBy}}" placeholder="{{ 'oneclick.global.directions.depart_at' | translate }}" (ionChange)="arriveBySelectChanged($event)">
            <ion-select-option value="false">{{ "oneclick.global.directions.depart_at" | translate }}</ion-select-option>
            <ion-select-option value="true">{{ "oneclick.global.directions.arrive_by" | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>

        <!-- opens native datepicker on mobile, or ionic datepicker in browser -->
        <responsive-datepicker #tripDatepicker [locale]="translate.currentLang"
                               [date]="departureDateTime"
                               (changeDate)="updateDate($event)">
        </responsive-datepicker>

      </ion-col>
      <ion-col>
        <!-- opens native datepicker on mobile, or ionic datepicker in browser -->
        <responsive-timepicker #tripTimepicker [locale]="translate.currentLang"
                               [time]="departureDateTime"
                               (changeTime)="updateTime($event)">
        </responsive-timepicker>
      </ion-col>

    </ion-row>
  </ion-grid>
  </ion-toolbar>



<ion-content>
  <!-- ORIGIN AND DESTINATION AUTOCOMPLETE RESULTS LISTS -->
  <autocomplete-results #originResults
    [items]="originSearch.autocompleteItems"
    uniqueId="origin-results"
    (onChangeFocus)="originSearch.changeAriaFocusItem($event)"
    (onSelect)="originSearch.chooseItem($event, viewType)">
  </autocomplete-results>
  <autocomplete-results #destinationResults
    [items]="destinationSearch.autocompleteItems"
    uniqueId="destination-results"
    (onChangeFocus)="destinationSearch.changeAriaFocusItem($event)"
    (onSelect)="destinationSearch.chooseItem($event, viewType)">
  </autocomplete-results>

  <!-- 211 SERVICE FINDER BUTTON -->
  <div id="find-services-button-container" *ngIf="viewType === 'services'"
    class="ion-justify-content-center">
    <ion-button shape="round" color="primary" class="ion-margin"
            id="find-services-button"
            (click)="searchForServices(originSearch.place)">
      {{ "oneclick.pages.user_locator.resources_button" | translate }}
      <ion-icon aria-hidden="true" pull-right name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

  <!-- PLAN TRIP BUTTON -->
  <div id="find-transportation-button-container" *ngIf="viewType === 'transportation'"
  class="ion-justify-content-center">
    <ion-button  shape="round" color="primary" class="ion-margin"
            id="find-transportation-button"
            (click)="findTransportation(originSearch.place, destinationSearch.place)">
        {{ "oneclick.pages.user_locator.transportation_button" | translate }}
      <ion-icon aria-hidden="true" class="ion-padding-start" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

  <!-- MAP CANVAS -->
  <div id="user-locator-map-canvas" (click)="originSearch.clearAutocomplete()"></div>

</ion-content>
