ion-toolbar {
  --background: var(--lynxPink);
}

  #user-locator-map-canvas{
    width: 100%;
    height: 100%;
  }

  #origin-autocomplete-results,
  #destination-autocomplete-results {
    position: absolute;
    z-index: 1000;
  }

  #find-services-button-container,
  #find-transportation-button-container {
    //padding: size(2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    //width: 100%;
    z-index: 500;

    // #find-services-button,
    // #find-transportation-button {
    //    padding-right: size(1);
    //    ion-icon {
    //      margin-left: size(1);
    //    }
    // }
  }

  ion-item.select-wrapper {
    --ion-background-color: var(--lynxWhite);
  }

  ion-select#arriveBySelector {
    max-width:100%;
    width: 100%;
  }

  // ion-select#arriveBySelector .select-text {
  //   width: -webkit-fill-available;
  // }
