
<ion-header>

  <app-navbar *ngIf="viewType === 'services'" headerTitle="{{ 'oneclick.pages.user_locator.services_help' | translate }}" skipId="skip-user-locator"></app-navbar>
  <app-navbar *ngIf="viewType != 'services'" headerTitle="{{ 'oneclick.pages.user_locator.plan_a_trip_header' | translate }}" skipId="skip-user-locator"></app-navbar>
</ion-header>
  


<ion-content>
  <div style="height:100%; display: flex; flex-flow: column;">

    <ion-button color="tertiary" expand="full"  class="hideShowToolbarBtn" (click)="hideShowToolbar()" 
        [attr.aria-expanded]="showToolbar" aria-controls="trip-toolbar">
      <span [hidden]="!showToolbar" style="padding-right:10px" aria-hidden="true"><ion-icon name="caret-down-outline" size="large"></ion-icon></span> 
      <span [hidden]="showToolbar" style="padding-right:10px" aria-hidden="true"><ion-icon name="caret-forward-outline" size="large"></ion-icon></span>
      <span [hidden]="!showToolbar">{{ 'oneclick.pages.user_locator.hide_toggle' | translate }}</span> 
      <span [hidden]="showToolbar">{{ 'oneclick.pages.user_locator.show_toggle' | translate }}</span>
  </ion-button>

    <div id="trip-toolbar" class="lynx-toolbar" [hidden]="!showToolbar">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <div id="origin-search-container">
                <ion-label id="Origin" color="secondary" aria-hidden="true">{{ 'oneclick.pages.user_locator.origin_search.placeholder_found' | translate }}</ion-label>
                <place-search #originSearch
                              uniqueLabelId="Origin"
                              [ariaClearLabel]="translate.instant('oneclick.pages.user_locator.origin_search.clear')"
                              resultsListId="origin-results"
                              [isInvalid]="originInvalid"
                              (onArrowDown)="originResults.focus()"
                              (onFocus)="originResults.show(); destinationResults.hide()"
                              (onSelect)="originInvalid = false; centerMapOnPlace($event, 'origin')"
                              (onChange)="placeSearchChanged()">
                </place-search>
              </div>
            </ion-item>
            <autocomplete-results #originResults
              [items]="originSearch.autocompleteItems"
              uniqueId="origin-results"
              (onChangeFocus)="originSearch.changeAriaFocusItem($event)"
              (onSelect)="originSearch.chooseItem($event, viewType)">
            </autocomplete-results>
          </ion-col>
        </ion-row>
        <ion-row  [hidden]="viewType === 'services'">
          <ion-col>

            <ion-item>
              <div id="destination-search-container">

                <div class="swap-button">
                  <ion-label id="Destination" color="secondary" aria-hidden="true">{{ 'oneclick.pages.user_locator.destination_search.placeholder' | translate }}</ion-label>
                  <ion-button [attr.aria-label]="'oneclick.pages.user_locator.swap' | translate"  shape="round" color="secondary" (click)="swapOriginDestination()">
                    <ion-icon aria-hidden="true" name="swap-vertical-outline"></ion-icon>
                  </ion-button>
                </div>
                
                <place-search #destinationSearch
                              uniqueLabelId="Destination"
                              [ariaClearLabel]="translate.instant('oneclick.pages.user_locator.destination_search.clear')"
                              resultsListId="destination-results"
                              [isInvalid]="destinationInvalid"
                              (onArrowDown)="destinationResults.focus()"
                              (onFocus)="destinationResults.show(); originResults.hide();"
                              (onSelect)="destinationInvalid = false; centerMapOnPlace($event, 'destination')"
                              (onChange)="placeSearchChanged()">
                </place-search>
              </div>
            </ion-item>
            <autocomplete-results #destinationResults
              [items]="destinationSearch.autocompleteItems"
              uniqueId="destination-results"
              (onChangeFocus)="destinationSearch.changeAriaFocusItem($event)"
              (onSelect)="destinationSearch.chooseItem($event, viewType)">
            </autocomplete-results>
          </ion-col>
        </ion-row>


          <!-- Header row with editable trip date -->
        <ion-row [hidden]="viewType === 'services'">
          <!-- Trip Purpose Selector Column -->
          <ion-col [hidden]="!tripPurposeFilterOn">
            <ion-item lines="none" (ionFocus)="destinationResults.hide(); originResults.hide();">
              <ion-label position="stacked" color="secondary">{{ 'oneclick.pages.user_locator.trip_purpose' | translate }}</ion-label>
              <ion-select id="purposeSelector" value="{{selectedTripPurposeId}}" (ionChange)="tripPurposeChanged($event)">
                <ion-select-option value="{{null}}">{{ "oneclick.pages.user_locator.trip_purpose_none" | translate }}</ion-select-option>
                <ion-select-option *ngFor="let purpose of tripPurposes" value="{{purpose.id}}">{{ purpose.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
            
          <!-- Arrive By / Depart At Selector Column -->
          <ion-col>
            
            <ion-label class="ion-padding-start" id="arriveByLabel" color="secondary">{{ 'oneclick.pages.user_locator.arrive_depart' | translate }}</ion-label>

            <ion-list class="radio-wrapper ion-padding-start ion-padding-end" lines="none">
              <ion-radio-group value="{{arriveBy}}" (ionChange)="arriveBySelectChanged($event)">
                <ion-item class="radio-wrapper" (ionFocus)="destinationResults.hide(); originResults.hide();">
                  <ion-radio labelPlacement="end" justify="start" value="false">{{ "oneclick.global.directions.depart_at" | translate }}</ion-radio>
                </ion-item>
    
                <ion-item class="radio-wrapper" (ionFocus)="destinationResults.hide(); originResults.hide();">
                  <ion-radio labelPlacement="end" justify="start" value="true">{{ "oneclick.global.directions.arrive_by" | translate }}</ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <!--The old code that had the arrive/depart selection as a dropdown-->
            <!-- <ion-item lines="none" (ionFocus)="destinationResults.hide(); originResults.hide();"> -->
              <!-- <ion-label position="stacked" id="arriveByLabel" color="secondary">{{ 'oneclick.pages.user_locator.arrive_depart' | translate }}</ion-label> -->
                <!-- <ion-select id="arriveBySelector" value="{{arriveBy}}" (ionChange)="arriveBySelectChanged($event)">
                  <ion-select-option value="false">{{ "oneclick.global.directions.depart_at" | translate }}</ion-select-option>
                  <ion-select-option value="true">{{ "oneclick.global.directions.arrive_by" | translate }}</ion-select-option>
                </ion-select> -->
            <!-- </ion-item> -->
          </ion-col>

          <!-- Trip Date Selector Column -->
          <ion-col>
            <ion-item class="datepicker-item" lines="none" (ionFocus)="destinationResults.hide(); originResults.hide();">
              <!-- opens native datepicker on mobile, or ionic datepicker in browser -->
              <ion-label id="date-picker-label" aria-hidden="true" position="stacked" color="secondary">{{ 'oneclick.pages.user_locator.trip_date' | translate }}</ion-label>
              <responsive-datepicker [locale]="translate.currentLang" aria-labelledby="date-picker-label"
                                    [date]="departureDateTime"
                                    (changeDate)="updateDate($event)">
              </responsive-datepicker>

            </ion-item>
          </ion-col>
          
          <!-- Trip Time Selector Column -->
          <ion-col>

            <ion-item lines="none" (ionFocus)="destinationResults.hide(); originResults.hide();">
              <!-- opens native datepicker on mobile, or ionic datepicker in browser -->
              <ion-label aria-hidden="true" position="stacked" color="secondary">{{ 'oneclick.pages.user_locator.trip_time' | translate }}</ion-label>
              <responsive-timepicker [locale]="translate.currentLang"
                                    [time]="departureDateTime"
                                    (changeTime)="updateTime($event)">
              </responsive-timepicker>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div style="flex: 1 1 auto" >
      <!-- 211 SERVICE FINDER BUTTON -->
      <div id="find-services-button-container" *ngIf="viewType === 'services'"
        class="ion-justify-content-center">
        <ion-button shape="round" color="primary" class="ion-margin"
                id="find-services-button"
                (click)="searchForServices(originSearch.place)">
          {{ "oneclick.pages.user_locator.resources_button" | translate }}
          <ion-icon aria-hidden="true" pull-right name="arrow-forward"></ion-icon>
        </ion-button>
      </div>

      <!-- PLAN TRIP BUTTON -->
      <div id="find-transportation-button-container" *ngIf="viewType === 'transportation'"
      class="ion-justify-content-center">
        <ion-button  shape="round" color="primary" class="ion-margin"
                id="find-transportation-button"
                (click)="findTransportation(originSearch.place, destinationSearch.place)">
            {{ "oneclick.pages.user_locator.transportation_button" | translate }}
          <ion-icon aria-hidden="true" class="ion-padding-start" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>

      <!-- MAP CANVAS -->
      <div id="user-locator-map-canvas" (click)="originSearch.clearAutocomplete()"></div>
      </div>
  </div>
</ion-content>
