@media(min-width: 768px) {
  .mobile-header {
    display: none;
  }

}
@media(max-width: 768px) {
  .header {
    display: none;
  }
}

.skip-link {
  background: var(--lynxBlack);
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  z-index: 10000;//should be on top no matter what
}

.skip-link:focus {
  transform: translateY(0%);
}

ion-toolbar {
    --color: var(--lynxWhite);
    --background: var(--lynxBlack);
}



.lynx-logo-sm {
    display: block;
    margin: 0 auto;
    max-height: 2.6rem;
    padding-left: 16px;
    width: auto;
  }

  .mobile-logo-sm {
    display: block;
    margin: 0 auto;
    max-height: 2.6rem;
    padding-left: 16px;
    width: auto;
  }


a.nav-icon-button {
    background: transparent;
    margin: 0;
}


  
ion-button.bar-button-menutoggle {
    --color: var(--lynxOrange); 

    &:hover,&:focus {
        --color: var(--lynxWhite)
    }
  }

  /* can't use ion-menu-button because it doesn't support aria-expanded attribute*/
  // ion-menu-button {
  //   --color: var(--lynxOrange);
  //   --color-hover: var(--lynxWhite);
  //   --color-focused: var(--lynxWhite);
  // }

  ion-back-button      {
    --color: var(--lynxWhite);
    &:hover,&:focus {
      --color: var(--lynxOrange)
  }
  }

  .menu-button {
    
    background-color: transparent;
    color: var(--lynxOrange);

    &:hover,&:focus {
      color: var(--lynxWhite);
    }
  }

.toolbar-content > ion-row > ion-col.col:nth-child(2) {
    margin-left: -22px;
}
.toolbar-content > ion-row > ion-col.col:nth-child(3) {
    margin-left: 22px;
}