ion-toolbar {
    --color: var(--lynxWhite);
    --background: var(--lynxBlack);
}


.lynx-logo-sm {
    display: block;
    margin: 0 auto;
    max-height: 2.6rem;
    padding: 0;
    width: auto;
  }







ion-title {
    flex: 1 0 auto;
    text-align: left;
}
ion-title.header-logo-title {
    margin-top: 6px;
}

ion-title.header-title {
    margin-top: 10px;
}

a.nav-icon-button {
    background: transparent;
    margin: 0;
}


  
ion-button.bar-button-menutoggle {
    --color: var(--lynxOrange); 

    &:hover,&:focus {
        --color: var(--lynxWhite)
    }
  }

  ion-menu-button {
    --color: var(--lynxOrange);
    --color-hover: var(--lynxWhite);
    --color-focused: var(--lynxWhite);
  }

// ion-button.nav-icon-button {
//     background: transparent;
//     margin: 0;
// }

.toolbar-content > ion-row > ion-col.col:nth-child(2) {
    margin-left: -22px;
}
.toolbar-content > ion-row > ion-col.col:nth-child(3) {
    margin-left: 22px;
}