<ion-toolbar class="mobile-header">
<!--    
  <ion-buttons *ngIf="!isHomePage()" slot="start" >
    <ion-back-button defaultHref="home"></ion-back-button>
    
  </ion-buttons>
 
      <ion-buttons slot="end">
        <ion-button mode="md" aria-label="language translation selection" class="bar-button-menutoggle" (click)="openLanguageSelectorModal()">
          <ion-icon slot="start" aria-hidden="true" class="padded" name="globe"></ion-icon>
        </ion-button>
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>   
   

</ion-toolbar>
<ion-toolbar class="mobile-header">
   
      
  <ion-title class="header-title">{{headerTitle}}</ion-title>
 


</ion-toolbar> -->

<ion-toolbar class="header">
   
  <ion-buttons *ngIf="!isHomePage()" slot="start" >
    <ion-back-button defaultHref="home"></ion-back-button>
    <a class="lynx-button-link header-logo-title nav-icon-button" routerLink="/home" routerDirection="forward">
      <img class="lynx-logo-sm"  src='assets/img/main-logo.png' alt="211Ride Logo" />
  </a>
  </ion-buttons>
  <ion-title *ngIf="showTitle" class="header-title">{{headerTitle}}</ion-title>

  <ion-buttons slot="end">
    <ion-button mode="md" aria-label="language translation selection" class="bar-button-menutoggle" (click)="openLanguageSelectorModal()">
      <ion-icon slot="start" aria-hidden="true" class="padded" name="globe"></ion-icon> 
      {{ "oneclick.global.languages.native." + i18n.currentLocale() | translate }}
    </ion-button>
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>   


</ion-toolbar>

