page-trip-response {
  .select-full-width {
      max-width: 100% !important;
      width: 100% !important;
      padding-left: 0 !important;
  }

  .itinerary-item ion-row ion-col {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .itinerary-item ion-row ion-col:nth-child(2) {
    justify-content: flex-end;
  }

  .itinerary-item.item-md h2 {
    font-size: 2.2rem;
  }

  ion-select#arriveBySelector {
    max-width:100%;
    width: 100%;
  }

  ion-select#arriveBySelector .select-text {
    width: -webkit-fill-available;
  }

  //#find-transportation-button-container > ion-select {
  //  display: inline-flex;
  //  vertical-align: -webkit-baseline-middle;
  //  width: 20%;
  //}

}
