<ion-app>

<!-- SIDEBAR MENU -->
<ion-menu class="lynx-menu" side="end" contentId="main-content" (ionDidClose)="menuClosed()">

  <ion-content>

    <!-- Build menu buttons based on whether or not user is signed in or not -->

    <ion-menu-toggle auto-hide="true" >
      <ion-list role="list" class="lynx-list lynx-list-contrast">
        
          <ion-item button role="listitem"
                class="item-heading"
                id="menu-close-button">
            <ion-label class="ion-text-end">
              {{ "oneclick.close_menu" | translate }}
            </ion-label>
          </ion-item>

      <!-- If signed in... -->
      <ng-container *ngIf="auth.isRegisteredUser(); else notRegistered">

        <ion-item button role="listitem"
                class="item-heading"
                id="menu-welcome-button"
                (click)="goDefaultPage()">
          {{ "oneclick.pages.menu.welcome_user" | translate:user_name }}
        </ion-item>

        <ion-item button role="listitem"
                class="item-heading"
                id="menu-profile-button"
                (click)="openPage(profilePage)">
          {{ "oneclick.pages.menu.profile" | translate }}
        </ion-item>

        <!-- Build a button for each page listed in the signedInPages attribute -->
        <ion-item  button role="listitem"
                class="item-heading"
                *ngFor="let p of signedInPages"
                (click)="openPage(p)">
          {{ "oneclick.pages.menu." + p.title | translate }}
        </ion-item>

      </ng-container>

      <!-- If not signed in... -->
      <ng-template #notRegistered>

        <ion-item button role="listitem"
                class="item-heading" 
                (click)="openPage(signInPage)">
          {{ "oneclick.pages.menu.sign_in" | translate }}
        </ion-item>
        <ion-item  button role="listitem"
                (click)="openPage(signUpPage)">
          {{ "oneclick.pages.menu.sign_up" | translate }}
        </ion-item>

        <!-- Build a button for each page listed in the signedOutPages attribute -->
        <ion-item button role="listitem"
                class="item-heading"
                *ngFor="let p of signedOutPages"
                (click)="openPage(p)">
          {{ "oneclick.pages.menu." + p.title | translate }}
        </ion-item>

      </ng-template>
      </ion-list>
    </ion-menu-toggle>

  </ion-content>

</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<div #spinnerContainer aria-hidden="true" id="ion-spinner-container" class="ion-text-center" *ngIf="showSpinner">
  <ion-img aria-hidden="true" style="width:60%; height: 60%" src="assets/img/loading.gif" alt="{{ 'oneclick.loading.alt-text' | translate }}"></ion-img>
</div>

</ion-app>

