

<!-- <ion-header> -->
  <app-navbar headerTitle="{{ 'oneclick.pages.user_profile.header' | translate }}" skipId="skip-user-profile"></app-navbar>
  <ion-toolbar color="primary" id="profile-subheader" class="lynx-toolbar ion-text-center">
    <h2 *ngIf="user.first_name && user.last_name">{{user.first_name}} {{user.last_name}}</h2>
    <h2 *ngIf="!user.first_name || !user.last_name">{{user.email}}</h2>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content>


<div id="user-profile-container" *ngIf="user">
<form id="ngForm"
      (ngSubmit)="updateProfile(updateProfileForm.valid)"
      #updateProfileForm="ngForm">

      <!-- Basic Attributes -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <!-- FIRST NAME -->
          <ion-input type="text" class="input-background"
                        name="first_name" label-placement="stacked"
                          [(ngModel)]="user.first_name">
                <div slot="label" >
                  {{'oneclick.pages.user_profile.first_name' | translate}}
                </div>
            </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- LAST NAME -->
          <ion-input type="text" class="input-background"
                        name="last_name" label-placement="stacked"
                          [(ngModel)]="user.last_name">
                <div slot="label" >
                  {{'oneclick.pages.user_profile.last_name' | translate}}
                </div>
            </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- EMAIL -->
          <ion-input type="email" required class="input-background"
                        name="email" label-placement="stacked"
                          [(ngModel)]="user.email">
                <div slot="label" >
                  {{'oneclick.pages.user_profile.email' | translate}} *
                </div>
            </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="padding-left:16px; padding-right:16px">
          <!-- PASSWORD -->
            <app-show-hide-password>
              <ion-input type="password" class="input-background"
                        name="password" label-placement="stacked"
                          [(ngModel)]="user.password" minlength="4">
                <div slot="label" >
                  {{'oneclick.pages.user_profile.password' | translate}}
                </div>
            </ion-input>
            </app-show-hide-password>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- Age -->
          <ion-input type="number" class="input-background"
                        name="age" label-placement="stacked"
                          [(ngModel)]="user.age">
                <div slot="label" >
                  {{'oneclick.pages.user_profile.age' | translate}}
                </div>
            </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <!-- County -->
    <ion-row>
      <ion-col>

        <ion-item lines="none">
            <ion-select label-placement="stacked" 
              [(ngModel)]="user.county" name="county">
                <div slot="label">
                    {{ 'oneclick.pages.user_profile.county' | translate }}
                  </div>
                <ion-select-option *ngFor="let county of counties"
                            value="{{county}}">
                  {{ county }}
                </ion-select-option>
            </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>

    <!-- Preferred Locale -->
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-select label-placement="stacked" 
              [(ngModel)]="user.preferred_locale" name="preferred_locale">
                <div slot="label">
                    {{ 'oneclick.pages.user_profile.language' | translate }}
                  </div>
                <ion-select-option *ngFor="let locale of available_locales"
                        value="{{locale}}">
              {{ "oneclick.global.languages.native." + locale | translate }}
                </ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>

    <!-- ACCOMMODATIONS -->
    <ion-row>
      <ion-col>

        <ion-list id="accommodations-list">
          <ion-list-header color="tertiary" >
            {{"oneclick.pages.user_profile.accommodations" | translate}}
          </ion-list-header>

          <ion-item *ngFor="let accommodation of accommodations">
            <ion-checkbox label-placement="end" justify="start" [(ngModel)]=accommodation.value [ngModelOptions]="{standalone: true}">{{accommodation.note}}</ion-checkbox>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>

    <!-- ELIGIBILITIES -->
    <ion-row>
      <ion-col>

        <ion-list id="eligibilities-list">
          <ion-list-header color="tertiary">
            {{"oneclick.pages.user_profile.eligibilities" | translate}}
          </ion-list-header>

          <ion-item *ngFor="let eligibility of eligibilities">
              <ion-checkbox label-placement="end" justify="start" [(ngModel)]=eligibility.value [ngModelOptions]="{standalone: true}">{{eligibility.note}}</ion-checkbox>
          </ion-item>
        </ion-list>

       </ion-col>
    </ion-row>

    <!-- Preferred Trip Types -->
    <ion-row>
      <ion-col>
          <ion-list>
            <ion-list-header color="tertiary">
              {{"oneclick.pages.user_profile.trip_types" | translate}}
            </ion-list-header>

            <ion-item *ngFor="let trip_type of trip_types">
              <ion-checkbox label-placement="end" justify="start" [(ngModel)]=trip_type.value [ngModelOptions]="{standalone: true}">{{trip_type.name}}</ion-checkbox>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!isRegisteredUser" style="padding:10px">
    <ion-button shape="round" expand="full"
        class="lynx-button-dark center"
        form="ngForm"
        (click)="createNewUser(updateProfileForm.valid)">
      {{ "oneclick.pages.user_profile.create_button" | translate }}
    </ion-button>
  </div>
  <div *ngIf="isRegisteredUser" style="padding:10px">
    <ion-button shape="round" expand="full"
        class="lynx-button-dark center"
        form="ngForm"
        (click)="updateProfile(updateProfileForm.valid)">
      {{ "oneclick.pages.user_profile.update_button" | translate }}
    </ion-button>
  </div>
</form>

</div>
</ion-content>

<app-footer></app-footer>
