

<!-- <ion-header> -->
  <app-navbar headerTitle="{{ 'oneclick.pages.user_profile.header' | translate }}" skipId="skip-user-profile"></app-navbar>  
  <ion-toolbar color="primary" id="profile-subheader" class="lynx-toolbar ion-text-center">
    <h2 *ngIf="user.first_name && user.last_name">{{user.first_name}} {{user.last_name}}</h2>
    <h2 *ngIf="!user.first_name || !user.last_name">{{user.email}}</h2>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content>


<div id="user-profile-container" *ngIf="user">
<form id="ngForm"
      (ngSubmit)="updateProfile(updateProfileForm.valid)" 
      #updateProfileForm="ngForm">
      
      <!-- Basic Attributes -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <!-- FIRST NAME -->
          <ion-label position="stacked">{{"oneclick.pages.user_profile.first_name" | translate}}</ion-label>
          <ion-input  class="lynx-input" 
                      type="text" 
                      placeholder=""
                      name="first_name" 
                      [(ngModel)]="user.first_name">
          </ion-input> 
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- LAST NAME -->
          <ion-label position="stacked">{{"oneclick.pages.user_profile.last_name" | translate}}</ion-label>
          <ion-input  class="lynx-input" 
                      type="text" 
                      placeholder=""
                      name="last_name" 
                      [(ngModel)]="user.last_name">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- EMAIL -->
          <ion-label position="stacked">{{"oneclick.pages.user_profile.email" | translate}}</ion-label>
          <ion-input  class="lynx-input" 
                      type="email" 
                      placeholder=""
                      name="email" 
                      [(ngModel)]="user.email" 
                      required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        <div style="padding-left:16px; padding-right:16px">
          <!-- PASSWORD -->
            <ion-label id="passwordLabel" position="fixed">{{"oneclick.pages.user_profile.password" | translate}}</ion-label>
            <app-show-hide-password>
              <ion-input class="lynx-input" 
                        [type]="passwordFieldType" 
                        placeholder=""
                        aria-labelledby="passwordLabel"
                        name="password" 
                        [(ngModel)]="user.password">
              </ion-input>
            </app-show-hide-password>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <!-- Age -->
          <ion-label position="stacked">{{"oneclick.pages.user_profile.age" | translate}}</ion-label>
          <ion-input  class="lynx-input" 
                      type="number" 
                      placeholder=""
                      name="age" 
                      [(ngModel)]="user.age">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showParatransitId">
      <ion-col>

        <ion-item lines="none">
          <!-- Paratransit Id -->
          <ion-label position="stacked">{{"oneclick.pages.user_profile.paratransit_id" | translate}}</ion-label>
          <ion-input class="lynx-input" 
                      type="string" 
                      placeholder=""
                      name="paratransit_id" 
                      [(ngModel)]="user.paratransit_id">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      

    <!-- County -->
    <ion-row>
      <ion-col>

        <div class="ion-padding">
          <ion-label position="stacked">{{"oneclick.pages.user_profile.county" | translate}}</ion-label>
          <ion-select name="county" [attr.aria-label]="'oneclick.pages.user_profile.county' | translate"
           [(ngModel)]="user.county">
            <ion-select-option *ngFor="let county of counties"
                        value="{{county}}">
              {{ county }}             
            </ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>

    <!-- Preferred Locale -->
    <ion-row>
      <ion-col>

        <div class="ion-padding">
          <ion-label position="stacked">{{"oneclick.pages.user_profile.language" | translate}}</ion-label>
          <ion-select name="preferred_locale" [attr.aria-label]="'oneclick.pages.user_profile.language' | translate"
          [(ngModel)]="user.preferred_locale">
            <ion-select-option *ngFor="let locale of available_locales"
                        value="{{locale}}">
              {{ "oneclick.global.languages.native." + locale | translate }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- ACCOMMODATIONS -->
    <ion-row>
      <ion-col>

        <ion-list id="accommodations-list">
          <ion-list-header color="tertiary" >
            {{"oneclick.pages.user_profile.accommodations" | translate}}
          </ion-list-header>
          
          <ion-item *ngFor="let accommodation of accommodations">
            <ion-checkbox label-placement="end" justify="start" [(ngModel)]=accommodation.value [ngModelOptions]="{standalone: true}">{{accommodation.note}}</ion-checkbox>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
    
    <!-- ELIGIBILITIES -->
    <ion-row>
      <ion-col>

        <ion-list id="eligibilities-list">
          <ion-list-header color="tertiary">
            {{"oneclick.pages.user_profile.eligibilities" | translate}}
          </ion-list-header>
          
          <ion-item *ngFor="let eligibility of eligibilities">
              <ion-checkbox label-placement="end" justify="start" [(ngModel)]=eligibility.value [ngModelOptions]="{standalone: true}">{{eligibility.note}}</ion-checkbox>
          </ion-item>
        </ion-list>

       </ion-col>
    </ion-row>

    <!-- Preferred Trip Types -->
    <ion-row>
      <ion-col>
          <ion-list>
            <ion-list-header color="tertiary">
              {{"oneclick.pages.user_profile.trip_types" | translate}}
            </ion-list-header>
            
            <ion-item *ngFor="let trip_type of trip_types">
              <ion-checkbox label-placement="end" justify="start" [(ngModel)]=trip_type.value [ngModelOptions]="{standalone: true}">{{trip_type.name}}</ion-checkbox>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!isRegisteredUser" style="padding:10px">
    <ion-button shape="round" expand="full" 
        class="lynx-button-dark center" 
        form="ngForm"
        (click)="createNewUser(updateProfileForm.valid)">
      {{ "oneclick.pages.user_profile.create_button" | translate }}
    </ion-button>
  </div>
  <div *ngIf="isRegisteredUser" style="padding:10px">
    <ion-button shape="round" expand="full" 
        class="lynx-button-dark center" 
        form="ngForm"
        (click)="updateProfile(updateProfileForm.valid)">
      {{ "oneclick.pages.user_profile.update_button" | translate }}
    </ion-button>
  </div>
</form>
    
</div>
</ion-content>

