<div class="time-container ion-justify-content-between">
  <div class="time-input-container ion-justify-content-left ion-padding-left">

    <label id="hr-label" hidden>{{ 'trip_time_hr' | translate }}</label>
    <ion-input aria-labelledby="hr-label" maxlength="2"
    [formControl]="hourControl" placeholder="HH" (ionBlur)="hourBlur($event)">
    </ion-input>
    <div class="time-colon">:</div>
    <label id="min-label" hidden>{{ 'trip_time_min' | translate }}</label>
    <ion-input aria-labelledby="min-label" maxlength="2"
    [formControl]="minControl" placeholder="MM" (ionBlur)="minuteBlur($event)">

    </ion-input>
    <!-- <div style="padding: 2px"> -->
    <label id="ampm-label" hidden>{{ 'trip_time_ampm' | translate }}</label>
      <select id="time-ampm-entry" aria-labelledby="ampm-label" [formControl]="ampmControl">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    <!-- </div> -->
  </div>
  <ion-datetime-button aria-hidden="true" tabindex="-1" aria-label="time-picker" datetime="dt-time">
    <ion-icon slot="time-target" name="time-outline"></ion-icon>
  </ion-datetime-button>
</div>

<ion-modal keepContentsMounted="true">
  <ng-template>
    <ion-datetime id="dt-time" [locale]="locale"
              showDefaultButtons="true"
              presentation="time"
              preferWheel="true"
              [value]="time"
              (ionChange)="timePickerChangeEvent($event)">
</ion-datetime>
</ng-template>
</ion-modal>
