

/* Style the container */
.time-container {
  //height: 100%;
  // //color: #555;
  display: flex;
  background: var(--lynxWhite);
  padding: 2px;
  // //border: 1px solid currentColor;
  // //border-radius: 5px;
}

.time-input-container {
  display: flex;
}

.time-colon {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.has-focus {
  border: solid 2px rgba(var(--lynxPinkRGB), 1);
}

ion-input {
  width: 4ch;
}

ion-datetime-button {
  //height: 100%;
}

ion-datetime-button::part(native) {
  border-radius: 0px;
  width:100%;
  height:100%;
}

ion-select {
  padding: 10px;
  background-color: var(--lynxWhite);

  &:focus {
    outline: solid;
    outline-color: var(--lynxPink);
    outline-offset: -3px;
    outline-width: 2px;
  }
}
