

/* Style the container */
.time-container {
  height: 100%;
  // //color: #555;
  display: flex;
  background: var(--lynxWhite);
  padding: 2px;
  // //border: 1px solid currentColor;
  // //border-radius: 5px;
}

.time-input-container {
  display: flex;
}

.has-focus {
  border: solid 2px rgba(var(--lynxPinkRGB), 1);
}

ion-input {
  width: 4ch;
}



  ion-item.select-wrapper {
    --ion-background-color: var(--lynxWhite);
  }
