<div class="time-container ion-justify-content-between">
  <div class="time-input-container ion-justify-content-left">
    <ion-input aria-label="time-hour-entry"
    [formControl]="hourControl" placeholder="HH">
    </ion-input>
    <div class="time-colon ion-padding-top ion-padding-bottom">:</div>
    <ion-input aria-hidden="true" aria-label="time-minute-entry"
    [formControl]="minControl" placeholder="MM">

    </ion-input>
    <ion-item class="select-wrapper">
      <ion-select id="time-ampm-entry" aria-label="time-ampm-entry" [formControl]="ampmControl">
        <ion-select-option value="AM">AM</ion-select-option>
        <ion-select-option value="PM">PM</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</div>
