<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.resend_email_confirmation.header' | translate }}"skipId="skip-resend-email"></app-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="resendEmailConfirmation()" #resendEmailConfirmationForm="ngForm">

    <ion-row>
      <ion-col>
        <h3 id="resend-email-confirmation-description">
          {{ "oneclick.pages.resend_email_confirmation.resend_email_confirmation_description" | translate }}
        </h3>
      </ion-col>
    </ion-row>

    <ion-item line="none">
      <ion-input type="email" required class="input-background"
                       label-placement="fixed" label="{{'email' | translate}} *"
                        name="email"
                        [(ngModel)]="email">
          </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button round
                id="resend-email-confirmation-button"
                class="lynx-button-dark center"
                type="submit"
                [disabled]="!resendEmailConfirmationForm.form.valid">
          {{ "oneclick.pages.resend_email_confirmation.resend_email_confirmation_button" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
<app-footer></app-footer>
