<ion-header no-border>
  <app-navbar headerTitle="{{ 'oneclick.pages.resend_email_confirmation.header' | translate }}"skipId="skip-resend-email"></app-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="resendEmailConfirmation()" #resendEmailConfirmationForm="ngForm">

    <ion-row>
      <ion-col>
        <h3 id="resend-email-confirmation-description">
          {{ "oneclick.pages.resend_email_confirmation.resend_email_confirmation_description" | translate }}
        </h3>
      </ion-col>
    </ion-row>

    <ion-input  class="lynx-input"
                type="text"
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
                required>
    </ion-input>

    <ion-row>
      <ion-col>
        <ion-button round
                id="resend-email-confirmation-button"
                class="lynx-button-dark center"
                type="submit"
                [disabled]="!resendEmailConfirmationForm.form.valid">
          {{ "oneclick.pages.resend_email_confirmation.resend_email_confirmation_button" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
