.lynx-autocomplete-results-container {
    z-index: 1000;

    //@include offset-sm-1;
    //@include offset-md-2;
  }

  ion-list.lynx-autocomplete-results {
    background-color: var(--lynxWhite);

    ion-item {
      --background: var(--lynxWhite);
      // If item is hovered over, selected, etc. highlight it.
      &:hover,
      &:focus,
      &:active,
      &.focus {
        --background: var(--lynxLtGray);
        //--background: gray;
      }

    }
  }
