<ion-navbar class="lynx-toolbar lynx-toolbar-black">
  <ion-row>
    <ion-col col-sm-2>
      <ng-container *ngIf="!isHomePage()">
        <ion-title class="header-logo-title">
          <button class="lynx-button-link nav-icon-button" (click)="goHome()">
            <img class="lynx-logo-sm" src="assets/img/211-ride@1x.png" alt="211Ride Logo">
          </button>
        </ion-title>
      </ng-container>
    </ion-col>
    <ion-col col-sm-8>
      <ion-title class="header-title" *ngIf="headerTitle" text-center>{{headerTitle}}</ion-title>
    </ion-col>
    <ion-col col-sm-2>
      <ion-row>
        <ion-col col-sm-10>
          <button float-right ion-button class="lynx-button-link nav-icon-button bar-button-menutoggle" (click)="openLanguageSelectorModal();">
            <ion-icon class="padded" name="globe"></ion-icon> {{ "oneclick.global.languages.native." + i18n.currentLocale() | translate }}
          </button>
        </ion-col>
        <ion-col col-sm-2>
          <button float-right ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


    </ion-col>

  </ion-row>

</ion-navbar>
