<ion-navbar class="lynx-toolbar lynx-toolbar-black">
  <ion-row>
    <ion-col offset-sm-2 col-sm-8>
      <ion-title *ngIf="headerTitle" text-center>{{headerTitle}}</ion-title>
      <ion-title *ngIf="!headerTitle">
        <button class="lynx-button-link nav-icon-button" (click)="goHome()">
          <img class="lynx-logo-sm" src="assets/img/211_Ride_Logo_RGB_sm.png" alt="LYNX Icon">
        </button>
      </ion-title>
    </ion-col>
    <ion-col col-sm-2>
      <ion-row>
        <ion-col col-sm-10>
          <button float-right ion-button class="lynx-button-link nav-icon-button bar-button-menutoggle" (click)="openLanguageSelectorModal();">
            <ion-icon class="padded" name="globe"></ion-icon> {{ "lynx.global.languages.native." + i18n.currentLocale() | translate }}
          </button>
        </ion-col>
        <ion-col col-sm-2>
          <button float-right ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


    </ion-col>

  </ion-row>

</ion-navbar>
