<ion-navbar class="lynx-toolbar lynx-toolbar-black">
  <ion-title *ngIf="headerTitle" text-center>{{headerTitle}}</ion-title>
  <ion-title *ngIf="!headerTitle">
    <img class="lynx-logo-sm" src="assets/img/211_Ride_Logo_RGB_sm.png" alt="LYNX Icon">
  </ion-title>
  <ion-buttons end>
    <button ion-button class="lynx-button-link bar-button-menutoggle" (click)="openLanguageSelectorModal();">
      <ion-icon class="padded" name="globe"></ion-icon> {{ "lynx.global.languages.native." + i18n.currentLocale() | translate }}
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
