app-navbar {

  ion-title {
    flex: 1 0 auto;
    text-align: center;
  }
  ion-title.header-title {
    margin-top: 10px;
  }

  button.nav-icon-button {
    background: transparent;
    margin: 0;
  }
}
