<!-- Generated template for the PlaceSearchComponent component -->
<search-wrapper (clear)="clear()" [ariaClearLabel]="ariaClearLabel">
    <input [formControl]="searchControl"
        type="search"
        class="input-field"
        [value]="query"
        [placeholder]="placeholder"
        (focus)="ionFocus()"
        (blur)="ionBlur()"
        aria-autocomplete="list"
        [attr.aria-invalid]="isInvalid"
        [attr.aria-controls]="resultsListId"
        [attr.aria-expanded]="resultsExpanded"
        aria-haspopup="listbox"
        [attr.aria-labelledby]="uniqueLabelId"
        [attr.aria-activedescendant]="activeResultId"
        role="combobox"
    />
</search-wrapper>
