<ion-header>

  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{ "oneclick.pages.email.header" | translate}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

    
  <form [formGroup]="emailForm" (ngSubmit)="send()">

    <ion-grid>
      <ion-row>
        <ion-col>{{ "oneclick.pages.email.description" | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- Email input just a standard text input -->
            <ion-label slot="start">{{'email' | translate}}</ion-label>
            <ion-input type="email" required formControlName="email">
          </ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Submit button creates a feedback, cancel discards data without leaving feedback-->
    <ion-toolbar id="email-modal-buttons" class="ion-text-center">
        <ion-button shape="round" color="primary"
                type="submit">{{ "oneclick.pages.email.submit_button" | translate }}
        </ion-button>
     
        <!-- Submit button creates a feedback, cancel discards data without leaving feedback-->
        <ion-button shape="round" color="primary"
                type="button"
                (click)="cancel()">{{ "oneclick.pages.email.cancel_button" | translate }}
        </ion-button>
    </ion-toolbar>
  </form>



</ion-content>
